<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
    <div class="container">
        <div class="header_admin">
            <div class="title_admin">
                <h2>Panel de control</h2>
            </div>
            <div class="date"></div>
            <div class="search">
                <input type="text" placeholder="Buscar productos">
                <div class="icon-search"><i class="material-icons">search</i></div>
            </div>
            <div class="logut">
                <a href="/users/logout"><button class="button_admin_logut">Logout</button></a>
            </div>
        </div>
        <div class="body_admin">
            <div class="sideBar">
                <div class="img_admin">
                    <img src="/images/avatars/<%= user.avatar %>" alt="user image">
                </div>
                <div class="name_admin">
                    <p><%= user.first_name %> <%= user.last_name %></p>
                </div>
                <div class="buttons">
                    <div class="sideBar_button" data-title="products">
                        <h4>Productos</h4>
                    </div>
                    <div class="sideBar_button" data-title="new_products">
                        <h4>Nuevo producto</h4></a>
                    </div>
                    <div class="sideBar_button" data-title="users">
                        <h4>Usuarios</h4>
                    </div>
                    <div class="sideBar_button" data-title="messages_admin">
                        <h4>Mensajes</h4>
                    </div>
                    <div class="sideBar_button" data-title="promotions">
                        <h4>Ofertas</h4>
                    </div>
                </div>
            </div>
            <div class="main_admin">
                <div class="collapse_cards_admin">
                    <span class="material-icons keyboard_arrow_down">keyboard_arrow_down</span>
                </div>
                <div class="items data_page">                                      <!---------- Tarjetas info -------->
                    <div class="cards_admin">
                        <div class="card_admin total_products">
                            <p>Total de Productos: <span><%= products.length %></span></p>
                        </div>
                        <div class="card_admin total_users">
                            <p>Total de Usuarios: <span><%= users.length %></span></p>
                        </div>
                        <div class="card_admin total_sales">
                            <p class="total_sales">Total ventas: <span>$ <%= (profits + pending).toLocaleString("en") %></span></p>
                        </div>
                        <div class="card_admin profits">
                            <p class="profits">Ganancias: <span>$ <%= profits.toLocaleString("en") %></span></p>
                        </div>
                        <div class="card_admin pending">
                            <p class="pending">Me deben: <span>$ <%= pending.toLocaleString("en") %></span></p>
                        </div>
                        <div class="card_admin visit">
                            <p>Visitas: <span><%= visit_page %></span></p>
                        </div>
                    </div>
                </div>
                <div class="items products" data-items="products">                       <!-------- Productos -------->
                    <div class="products_title">
                            <p class="id">Id</p>
                            <p class="category">Categoria</p>
                            <p class="name">Nombre de producto</p>
                            <p class="price">Precio</p>
                            <p class="stock">Stock</p>
                            <p class="discount">% OFF</p>
                    </div>
                    <% for(product of products) { %> 
                    <div class="oneProduct">
                        <div class="id">
                            <p><%= product.id %></p>
                            <form class="form_delete_product" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button class="button_form_delete" type="submit">Eliminar</button>
                            </form>
                            <a href="#form_edit"><button class="button_modify" data-itemsId="<%= product.id %>" type="button">Modificar</button></a>
                        </div>
                        <div class="category">
                            <p><%= product.category.title %></p>
                        </div>
                        <div class="name">
                            <a href="http://localhost:3000/products/<%= product.category.id %>/<%= product.id %> target="_blank" rel="noopener noreferrer"><p><%= product.name %> </p></a>
                        </div>
                        <div class="price">
                            <p>$ <%= product.price %> </p>
                        </div>
                        <div class="stock">
                            <p><%= product.stock %> </p>
                        </div>
                        <div class="discount">
                            <p><%= product.discount %></p>
                        </div>
                    </div>
                <% } %> 
                </div>
                <div class="items edit_product" data-itemsId="<%= product.id %> "><!-------- Editar Productos -------->
                    <% for(product of products) { %>
                        <div class="form_header_edit edit<%= product.id %>">
                            <div class="title">
                                <h1><%= product.name %></h1>
                            </div>
                        </div>
                        <form class="form_edit edit<%= product.id %>" id="form_edit" action="/products/edit/<%= product.id %>?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <div class="category">
                                <label for="inputCategory">Categoria</label>
                                    <select name="category" id="inputCategory">
                                        <% for(category of categorys) { %>
                                        <% if(category.id == product.category_id) { %>
                                        <option selected value="<%= category.id %>"><%= category.title %></option>
                                        <% } else { %>
                                        <option value="<%= category.id %>"><%= category.title %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                <div class="errors">
                                    <ul>
                                        <% if(typeof errors != 'undefined') { %>
                                        <% for(let i = 0; i < errors.length; i++) { %>
                                        <li><%= errors[i].msg %> </li>
                                        <% } %>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="name">
                                <label for="inputName">Nombre del Producto</label>
                                    <input type="text"  id="inputName" name="name" value="<%= product.name %>">
                                    <div class="name invalid-feedback"></div>
                            </div>
                            <div class="price">
                                <label for="inputPrice">Price</label>
                                    <input type="number" id="inputPrice" name="price" value=<%= product.price %>>
                                    <div class="price invalid-feedback"></div>
                            </div>
                            <div class="description">
                                <label for="inputDescription">Descripcion</label>
                                    <textarea type="text"  id="inputDescription" name="description"><%= product.description %></textarea>
                                    <div class="description invalid-feedback"></div>
                            </div>
                            <div class="stock">
                                <label for="inputStock">stock</label>
                                    <input type="number" id="inputStock" name="stock" value=<%= product.stock %>>
                                    <div class="stock invalid-feedback"></div>
                            </div>
                            <div class="discount">
                                <label for="inputDiscount">discount</label>
                                    <input type="number" id="inputDiscount" name="discount" value=<%= product.discount %> placeholder="Si el producto no tiene descuento coloque 0">
                                    <div class="discount invalid-feedback"></div>
                            </div>
                            <div class="image">
                                <label for="image">Imagen </label>
                                <input id="image" type="file" name="image" value=<%= product.image %> placeholder="">
                                <% if(typeof errors != 'undefined') { %>
                                <div>
                                    <p><%= errors.error %> </p>
                                </div>
                                <% } %>
                            </div>
                            <div class="button_form_edit">
                                <button type="submit">Modificar</button>
                            </div>
                            <div class="button_back edit<%= product.id %>">
                                <button type="button">&#60  Volver</button>
                            </div>
                        </form>
                    <% } %>
                </div>
                <div class="items users" data-items="users">                              <!-------- Usuarios -------->
                    <div class="users_title">
                            <p class="id">Id</p>
                            <p class="first_name">Nombre</p>
                            <p class="last_name">Apellido</p>
                            <p class="email">Email</p>
                            <p class="address">Direccion</p>
                            <p class="city">Ciudad</p>
                    </div>
                    <% for(user of users) { %> 
                    <div class="oneUser">
                        <div class="id">
                            <p><%= user.id %></p>
                        </div>
                        <div class="first_name">
                            <p><%= user.first_name %></p>
                        </div>
                        <div class="last_name">
                            <p><%= user.last_name %> </p>
                        </div>
                        <div class="email">
                            <p><%= user.email %> </p>
                        </div>
                        <div class="address">
                            <p><%= user.address %> </p>
                        </div>
                        <div class="city">
                            <p><%= user.city %></p>
                        </div>
                    </div>
                <% } %>
                </div>
                <div class="items messages_admin" data-items="messages_admin">            <!-------- Mensajes -------->
                    <% for(user of users) { %>
                    <% if(user.id != 1 ) { %><!-- Muestra todos los mensajes de usuarios menos el ADMIN -->
                    <div class="user id<%= user.id %>">
                        <div class="userName id<%= user.id %>" data-id="<%= user.id %>">
                            <h5><span><%= user.first_name %> <%= user.last_name %></span></h6>
                        </div>
                        <div class="message id<%= user.id %>">
                        <% const user_messages = messages.filter(m => { return m.users_id == user.id || ( m.from_name == "ADMIN" && m.to_id == user.id ) })%><!--Filtra los mensajes correspondientes a cada usuario-->
                            <% for(message of user_messages) { %><!--Mensajes de cada usuario-->
                                <p class="date_message <%= message.from_name %>"><%= message.date %></p>
                                <div class="singleMessage <%= message.from_name %>">
                                    <p class="message_name <%= message.from_name %>"><%= message.from_name %></p>
                                    <p class="message_content <%= message.from_name %>"><%= message.content %></p>
                                    <% if(message.products_id > 0) { %>
                                        <% const product = products.filter( p => { return p.id == message.products_id }) %><!--Si el id de producto es mayor a "0" el mensaje proviene de la pagina detalle del producto y muestra el link en el mensaje-->
                                        <% for(id of product) { %>
                                            <p class="link_product">
                                                <a href="/products/<%= id.category_id %>/<%= message.products_id %>" target="_blank" rel="noopener noreferrer">Acerca de <%= id.name %> </a>
                                            </p>
                                        <% } %> 
                                    <% } %> 
                                </div>
                        <% } %>
                        </div>
                        <div class="writeMessage id<%= user.id %>">
                            <form class="form_messages" action="/users/messages" method="post">
                                <label for="">Escriba su mensaje aqui.</label>
                                <input type="number" name="users_id"  value="1" style="display: none;">
                                <input type="number" name="to_id"  value="<%= user.id %>" style="display: none;">
                                <textarea name="content" cols="100" rows="1"></textarea>
                                <input type="number" name="products_id"  value="" style="display: none;">
                                <input type="text" name="from_name"  value="ADMIN" style="display: none;">
                                <input type="text" name="to_name"  value="<%= user.first_name %><%= user.last_name %>" style="display: none;">
                                <button type="submit" onclick="this.form.submit()">Enviar</button>
                            </form>
                        </div>
                    </div>
                <% } else {}%>
                <% } %>
                </div>
                <div class="items new_products">                                    <!-------- Crear Producto -------->
                    <div class="form_header">
                        <div class="title">
                            <h1>Nuevo producto</h1>
                        </div>
                    </div>
                    <form class="form_create" action="/products/create/" method="POST" enctype="multipart/form-data">
                        <div class="category">
                            <label for="inputCategory">Categoria</label>
                            <select name="category" id="inputCategory">
                                <option selected disabled>Seleccione una categoria</option>
                                <% for(category of categorys) { %>
                                <option  value="<%= category.id %>"><%= category.title %></option>
                                <% } %>
                            </select>
                            <div class="category invalid-feedback"></div>
                        </div>
                        <div class="name">
                            <label for="inputName">Nombre del Producto</label>
                                <input type="text"  id="inputName" name="name" value="">
                                <div class="name invalid-feedback"></div>
                        </div>
                        <div class="price">
                            <label for="inputPrice">Price</label>
                                <input type="number" id="inputPrice" name="price" value="">
                                <div class="price invalid-feedback"></div>
                        </div>
                        <div class="description">
                            <label for="inputDescription">Descripcion</label>
                                <textarea type="text"  id="inputDescription" name="description" value=""></textarea>
                                <div class="description invalid-feedback"></div>
                        </div>
                        <div class="stock">
                            <label for="inputStock">stock</label>
                                <input type="number" id="inputStock" name="stock" value="">
                                <div class="stock invalid-feedback"></div>
                        </div>
                        <div class="discount">
                            <label for="inputDiscount">discount</label>
                                <input type="number" id="inputDiscount" name="discount" value="" placeholder="Si el producto no tiene descuento ingrese 0">
                                <div class="discount invalid-feedback"></div>
                        </div>
                        <div class="image">
                            <label for="inputImage">Imagen </label>
                            <input id="inputImage" type="file" name="image" value="" placeholder="">
                            <% if(typeof errors != "undefined") { %>
                            <div class="image invalid-feedback"><p><%= errors.error %></p></div>
                            <% } %> 
                        </div>
                        <div class="button_form_create">
                            <button type="submit">Crear</button>
                        </div>
                    </form>
                </div>
                <div class="items promotions" data-items="promotions"> <!---------------- Ofertas ----------------->
                    <div class="offers">
                        <h3 class="title_offers">Ofertas</h3>
                        <div class="allOffers">
                            <% if(typeof promotions != "undefined") { %>
                                <% for(promotion of promotions) { %>
                                    <div class="singleOffer">
                                        <% const product = products.filter(p => { return p.id == promotion.products_id }) %>
                                        <p class="product_name"><%= product.map(p => { return p.name }) %></p>
                                        <p class="offer_description"><%= promotion.description %> </p>
                                    </div>
                                <% } %>
                            <%} %>
                        </div>
                        <button class="create_offer">Nueva oferta</button>
                        <form class="form_create_promotion" action="/products/offers" method="post">
                            <select name="products_id" id="">
                                <option disabled selected>Seleccione un producto</option>
                                <% for(product of products) { %>
                                <option value="<%= product.id %>"><%= product.name %></option>
                                <% } %>
                            </select>
                            <label for="description">Descripción</label>
                            <textarea name="description" id="" cols="30" rows="10"></textarea>
                            <button class="send_offer">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/1349bde661.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="/javascripts/admin.js"></script>
</body>
</html>