<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/category.css" />
</head>

<body>
    <%- include("partials/header") %>
    <div class="container">
        <div class="header_category">
            <div class="titulo">
                <% if(typeof title != "undefined") { %>
                <h2>Su busqueda: <span>"<%= title %>"</span></h2>
                <% } else { %>
                <h2><%= category[0].title %> ( <%= productsByName.length %> )</h2>
                <% } %>
            </div>
            <div class="paginado">
                <% for(let i=1; i <= totalPages; i++) { %> 
                <a href="/products/<%= productsByName[0].category_id %>?_page=<%= i %>"><%= i %></a>
                <% } %>
                <span class="material-icons arrow_left">arrow_left</span>
                <span class="material-icons arrow_right">arrow_right</span>
            </div>
        </div>
        <div class="ordenarPor">
            <label for="orderby">Ordenar por : </label>
            <% if(typeof title != "undefined") { %>
                <select name="orderby">
                    <option >Nombre Ascendente</option>
                    <option >Nombre Descendente</option>
                    <option >Precio Ascendente</option>
                    <option >Precio Descendente</option>
                </select>
            <% } else { %>
                <select name="orderby">
                    <option >Nombre Ascendente</option>
                    <option >Nombre Descendente</option>
                    <option >Precio Ascendente</option>
                    <option >Precio Descendente</option>
                </select>
            <% } %>
        </div>
        <div class="container_cards">
            <% for(product of productsByName) { %>
            <div class="cards prod<%= product.id %> byName">
                <i class="fas fa-cart-plus" data-id="<%= product.id %>"></i>
                <a href="/products/<%= product.category_id %>/<%= product.id %>">
                    <div class="image">
                        <img class="item_image" src="/images/<%= product.image %>" alt="<%= product.name %>">
                    </div>
                    <div class="content">
                        <div class="name">
                            <p class="item_name"><%= product.name %></p>
                        </div>
                        <% if(product.discount > 0) { %>
                        <div class="price">
                            <p class="item_price">$ <%= product.price %><span><%= product.discount %>% OFF</span></p>
                        </div>
                        <% } else { %>
                        <div class="price">
                            <p class="item_price">$ <%= product.price %></p>
                        </div>
                        <% } %>
                    </div>
                </a>
            </div>
            <% } %>
            <% for(product of productsByPrice) { %>
                <div class="cards prod<%= product.id %> byPrice">
                    <i class="fas fa-cart-plus" data-id="<%= product.id %>"></i>
                    <a href="/products/<%= product.category_id %>/<%= product.id %>">
                        <div class="image">
                            <img class="item_image" src="/images/<%= product.image %>" alt="<%= product.name %>">
                        </div>
                        <div class="content">
                            <div class="name">
                                <p class="item_name"><%= product.name %></p>
                            </div>
                            <% if(product.discount > 0) { %>
                            <div class="price">
                                <p class="item_price">$ <%= product.price %><span><%= product.discount %>% OFF</span></p>
                            </div>
                            <% } else { %>
                            <div class="price">
                                <p class="item_price">$ <%= product.price %></p>
                            </div>
                            <% } %>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
    </div>
    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
</body>

</html>