<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/category.css" />
</head>

<body>
    <%- include("partials/header") %>
    <div class="container">
        <div class="header_category">
            <div class="titulo">
                <% if(typeof title != "undefined") { %>
                <h2>Su busqueda: <span>"<%= title %>"</span></h2>
                <% } else { %>
                <h2><%= category[0].title %> ( <%= products.length %> )</h2>
                <% } %>
            </div>
            <div class="paginado">
                <p>1</p>
                <p>2</p>
                <span class="material-icons arrow_right">arrow_right</span>
            </div>
        </div>
        <div class="ordenarPor">
            <label for="orderby">Ordenar por : </label>
            <% if(typeof title != "undefined") { %>
            <form class="orderBy" action="/orderBy" method="POST">
                <select name="orderby" onchange="this.form.submit()">
                    <option data="" value="{orderBy: nombre ascendente, product: <%= title %>}">Nombre Ascendente
                    </option>
                    <option data="<%= title %>" value="nombre descendente">Nombre Descendente</option>
                    <option data="<%= title %>" value="precio ascendente">Precio Ascendente</option>
                    <option data="<%= title %>" value="precio descendente">Precio Descendente</option>
                </select>
            </form>
            <% } else { %>
            <form class="orderBy" action="/orderBy" method="POST">
                <select name="orderby" onchange="this.form.submit()">
                    <option data-search="<%= category[0].title %>" value="nombre ascendente">Nombre Ascendente
                    </option>
                    <option data-search="<%= category[0].title %>" value="nombre descendente">Nombre Descendente
                    </option>
                    <option data-search="<%= category[0].title %>" value="precio ascendente">Precio Ascendente
                    </option>
                    <option data-search="<%= category[0].title %>" value="precio descendente">Precio Descendente
                    </option>
                </select>
            </form>
            <% } %>
        </div>
        <div class="container_cards">
            <% for(product of products) { %>
            <div class="cards prod<%= product.id %>">
                <i class="fas fa-cart-plus" data-id="<%= product.id %>"></i>
                <a href="/products/<%= product.category_id %>/<%= product.id %>">
                    <div class="image">
                        <img class="item_image" src="/images/<%= product.image %>" alt="<%= product.name %>">
                    </div>
                    <div class="content">
                        <div class="name">
                            <p class="item_name"><%= product.name %></p>
                        </div>
                        <% if(product.discount > 0) { %>
                        <div class="price">
                            <p class="item_price">$ <%= product.price %><span><%= product.discount %>% OFF</span></p>
                        </div>
                        <% } else { %>
                        <div class="price">
                            <p class="item_price">$ <%= product.price %></p>
                        </div>
                        <% } %>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
</body>

</html>