<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <div class="container">
        <div class="sideBar_profile">
            <div class="sideBar_buttons_profile">
                <div class="dateUser">
                    <form class="form_update_avatar" action="/users/update?_method=PUT" method="POST" enctype="multipart/form-data">
                        <input type="text" name="first_name" id="inputName" value="<%= user.first_name %>">
                        <input type="text" name="last_name" id="inputLastName" value="<%= user.last_name %>">
                        <input type="email" name="email" id="inputEmail" value="<%= user.email %> ">
                        <input type="text" name="address" id="inputAddress" value="<%= user.address %>">
                        <input type="text" name="city" id="inputCity" value="<%= user.city %> ">
                        <input type="password" name="password" id="inputPassword" value="password">
                        <input type="file" name="avatar" id="inputAvatar" value="" accept="image/jpg, image/png, image/jpeg" style="display: none;">
                        <label for="inputAvatar"><img src="/images/avatars/<%= user.avatar %>" alt=""></label>
                    </form>
                    <p>Hola!</p><h4><%= user.first_name %> </h4>
                </div>
                <div class="enabled_button myDates" data-id="myDates">
                    <div class="icon_sideBar_profile">
                        <i class="fas fa-user"></i>
                    </div>
                    <p>Mis Datos</p>
                </div>
                <div class="enabled_button buy" data-id="buy">
                    <div class="icon_sideBar_profile">
                        <i class="fas fa-shopping-bag"></i>
                    </div>
                    <p>Compras</p>
                </div>
                <div class="enabled_button messages" data-id="messages">
                    <div class="icon_sideBar_profile">
                        <i class="fas fa-comments"></i>
                    </div>
                    <p>Mensajes</p>
                </div>
                <div class="enabled_button notifications" data-id="notifications">
                    <div class="icon_sideBar_profile">
                        <i class="fas fa-bell"></i>
                    </div>
                    <p>Notificaciones</p>
                </div>
            </div>
        </div>
        <div class="content_profile">
            <div class="content_myDates idmyDates">
                <form class="form_update_profile" action="/users/update?_method=PUT" method="post">
                    <label for="inputName">Nombre</label>
                    <input type="text" id="inputName" name="first_name" value="<%= user.first_name %>" disabled>

                    <label for="inputLastName">Apellido</label>
                    <input type="text" name="last_name" id="inputLastName" value="<%= user.last_name %>" disabled>

                    <label for="inputEmail">Email</label>
                    <input type="email" name="email" id="inputEmail" value="<%= user.email %> " disabled>

                    <label for="inputAddress">Direccion</label>
                    <input type="text" name="address" id="inputAddress" value="<%= user.address %>" disabled>

                    <label for="inputCity">Ciudad</label>
                    <input type="text" name="city" id="inputCity" value="<%= user.city %> " disabled>

                    <label class="labelPassword" for="inputPassword">Contraseña</label>
                    <input type="password" name="password" id="inputPassword" value="" disabled>

                    <input type="text" name="avatar" id="inputAvatar" value="<%= user.avatar %>" style="display: none;">

                    <input style="display: none" type="text" name="status" value="0">

                    <% if(typeof errors != "undefined") { %> 
                        <% for(error of errors) { %>
                            <% if(error.param == "first_name") { %>
                            <div class="first_name invalid-feedback">
                                <i class="fas fa-exclamation-circle"></i><p><%= error.msg %></p>
                            </div>
                            <% } %>
                        <% } %> 
                        <% for(error of errors) { %>
                            <% if(error.param == "last_name") { %>
                            <div class="last_name invalid-feedback">
                                <i class="fas fa-exclamation-circle"></i><p><%= error.msg %></p>
                            </div>
                            <% } %>
                        <% } %> 
                            <% for(error of errors) { %>
                                <% if(error.param == "email") { %>
                                <div class="email invalid-feedback">
                                    <i class="fas fa-exclamation-circle"></i><p><%= error.msg %></p>
                                </div>
                                <% } %>
                        <% } %> 
                        <% for(error of errors) { %>
                            <% if(error.param == "password") { %>
                            <div class="password invalid-feedback">
                                <i class="fas fa-exclamation-circle"></i><p><%= error.msg %></p>
                            </div>
                            <% } %>
                        <% } %>
                        <% for(error of errors) { %>
                            <% if(error.param == "avatar") { %>
                            <div class="avatar invalid-feedback">
                                <i class="fas fa-exclamation-circle"></i><p><%= error.msg %></p>
                            </div>
                            <% } %>
                        <% } %>
                    <% } %> 
                    <button type="button" class="eneable_modify">Modificar</button>
                    <div class="buttons_eneabled">
                        <button type="button" class="disable_modify">Cancelar</button>
                        <button type="submit" onclick="this.form.submit()" class="modify_myDates">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="content_purchases idbuy">
                <% for(purchase of purchases) { %>
                    <div class="purchase">
                        <div class="image">
                            <img src="/images/<%= purchase.image %>" alt="">
                        </div>
                        <div class="name">
                            <h5><%= purchase.name %> </h5>
                            <p>$ <%= purchase.price %> </p>
                        </div>
                        <div class="watchDetail">
                            <p class="verDetalles" data-id="<%= purchase.id %> ">Ver Detelles</p>
                        </div>
                    </div>
                    <div class="purchaseDetail id<%= purchase.id %> ">
                        <div class="itemDetail"><h5>Detelles de compra:</h5></div>
                        <div class="itemDetail"><p>Item ID: </p><span><%= purchase.id %> </span></div>
                        <div class="itemDetail"><p>Orden de compra n°: </p><span><%= purchase.order %> </span></div>
                        <div class="itemDetail"><p>Precio: </p><span>$ <%= purchase.priceWithoutDiscount %> </span></div>
                        <div class="itemDetail"><p>Cantidad: </p><span><%= purchase.quantity %> </span></div>
                        <div class="itemDetail"><p>Descuento:  </p><span><%= purchase.discount %> %</span></div>
                        <div class="itemDetail"><p>Total: </p><span>$ <%= purchase.price * purchase.quantity %> </span></div>
                    </div>
                <% } %>
                <div class="total_purchases">
                    <p>Total de compras:</p><span>$ <%  let total=0;
                    for(purchase of purchases) {
                        total += Number(purchase.price * purchase.quantity);
                    } %> <%= total %> </span>
                </div>
            </div>
            <div class="content_messages idmessages">
                <div class="messages_profile">
                    <% for(u of users) { %>
                    <% if(u.id == user.id) { %> 
                    <div class="user">
                        <div class="message id<%= u.id %>">
                            <h1 class="noMessages">No hay mensajes.</h1>
                            <% const user_messages = messages.filter(m => { return m.users_id == u.id || m.from_name == "ADMIN" && m.to_id == u.id})%>
                            <% for(message of user_messages) { %>
                                <p class="date_message <%= message.from_name %>"><%= message.date %></p>
                                <div class="singleMessage <%= message.from_name %>">
                                    <p class="message_name <%= message.from_name %>"><%= message.from_name %></p>
                                    <p class="message_content <%= message.from_name %>"><%= message.content %></p>
                                </div>
                        <% } %>
                        </div>
                        <div class="writeMessage id<%= u.id %>">
                            <form class="form_messages" action="/users/messages" method="post">
                                <label for="">Escriba su mensaje aqui.</label>
                                <input type="number" name="users_id"  value="<%= u.id %>" style="display: none;">
                                <input type="number" name="to_id"  value="1" style="display: none;">
                                <textarea name="content" cols="100" rows="5"></textarea>
                                <input type="number" name="products_id"  value="" style="display: none;">
                                <input type="text" name="from_name"  value="<%= u.first_name %><%= u.last_name %>" style="display: none;">
                                <input type="text" name="to_name"  value="ADMIN" style="display: none;">
                                <button type="submit" onclick="this.form.submit()">Enviar</button>
                            </form>
                        </div>
                    </div>
                <% } else {}%>
                <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
</body>
</html>