<header>
    <div class="container">
        <div class="cantProduct"></div>
        <div class="navbar-users">
            <div class="brand">
                <a href="#">
                    <p class="logo">E-Commerce</p>
                </a>
            </div>
            <div class="search">
                <form action="/search" method="get">
                    <input type="text" name="search" placeholder="Buscar productos">
                    <button type="submit" class="icon-search"><i class="material-icons">search</i></button>
                </form>
            </div>
            <div class="navbar-icons">
                    <% if(user) { %>
                        <% if(user.status == 2) { %>
                            <div class="icon_user"><a href="/users/admin/<%= user.id %>"><i class="material-icons icon-login" data-user="session">account_circle</i></a></div>
                    <% } else { %>
                        <div class="icon_logout"><a href="/users/logout">Logout</a></div>
                        <div class="icon_user"><a href="/users/profile/<%= user.id %> "><i class="material-icons icon-login" data-user="session">account_circle</i></a></div>
                    <% } %>
                <% } else { %>
                    <div class="icon_user"><a href="/users/login"><i class="material-icons icon-login">account_circle</i></a></div>
                <% } %>
                    <div class="icon_cart"><i class="material-icons icon-cart">shopping_cart</i></div>
            </div>
        </div>
        <div class="navbar-pages">
            <div class="navBar-column">
                <div class="buttonCollapse">
                    <i class="material-icons icon-menu">menu</i>
                </div>
                <div>
                    <ul id="menu-column">
                        <li>
                            <a href="#">Categorias</a>
                            <ul class="subMenu">
                                <% for(category of categorys) { %> 
                                <li><a href="/products/<%= category.id %>"><%= category.title %></a></li>
                            <% } %>
                            </ul>
                        </li>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="/users/register">Registrarse</a></li>
                    </ul>
                </div>
            </div>
            <div class="navBar-inline">
                <div class="categorys">
                    <a href="#">Categorias</a>
                    <ul class="subMenu">
                        <% for(category of categorys) { %> 
                        <li><a href="/products/<%= category.id %>"><%= category.title %></a></li>
                    <% } %> 
                    </ul>
                </div>
                <div class="navbar-items">
                    <ul  id="menu-inline">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="/users/register">Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container_cart">
            <div class="products_cart">
                <h4>Carrito de compras</h4>
                <div class="oneProduct"></div>
                <form class="form_cart" action="/products/cart" method="post">
                    <button onclick="this.submit()">Ir al carrito</button>
                </form>
                <button class="clear_cart">Vaciar carrito</button>
            </div>
        </div>
    </div>
</header>