<section>
    <div class="container">
        <div id="slider-wrapper">
            <div id="slider">
            <a href="URL_ENLACE1"><img src="/images/img1.webp" /><p>TEXTO1</p></a>
            <a href="URL_ENLACE2"><img src="/images/img2.jpg" /><p>TEXTO2</p></a>
            <a href="URL_ENLACE3"><img src="/images/img3.png" /><p>TEXTO3</p></a>
            </div>
            <a href="javascript:void();" class="mas">&rsaquo;</a>
            <a href="javascript:void();" class="menos">&lsaquo;</a>
        </div>

        <hr>
        <div class="productosMasVistos">
            <div class="title">
                 <h2>Productos mas vistos</h2>
            </div>
            <div class="container_cards">
                <div class="cards">
                    <div class="image">
                        <i class="fas fa-cart-plus"></i>
                        <a href="/products/:category/:id"><img src="/images/samsumng_S20.webp" alt=""></a>
                    </div>
                    <div class="content">
                        <p>Nombre Producto</p>
                        <p>$3000</p><span>50% OFF</span>
                    </div>
                </div>
                <div class="cards">
                    <div class="image">
                        <a href="/products/:category/:id"><img src="/images/dell.png" alt=""></a>
                    </div>
                    <div class="content">
                        <p>Nombre Producto</p>
                        <p>$5666</p><span>0% OFF</span>
                    </div>
                </div>
                <div class="cards">
                    <div class="image">
                        <a href="/products/:category/:id"><img src="/images/Philips-curvo-SuperWide-49.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <p>Nombre Producto</p>
                        <p>$3146</p><span>10% OFF</span>
                    </div>
                </div>
                <div class="cards">
                    <div class="image">
                        <a href="/products/:category/:id"><img src="/images/Parlante Bluetooth Novik Extreme-x.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <p>Nombre Producto</p>
                        <p>$9999</p><span>5% OFF</span>
                    </div>
                </div>
                <div class="cards">
                    <div class="image">
                        <a href="/products/:category/:id"><img src="/images/Philips-curvo-SuperWide-49.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <p>Nombre Producto</p>
                        <p>$3146</p><span>10% OFF</span>
                    </div>
                </div>    <div class="cards">
                    <div class="image">
                        <a href="/products/:category/:id"><img src="/images/Philips-curvo-SuperWide-49.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <p>Nombre Producto</p>
                        <p>$3146</p><span>10% OFF</span>
                    </div>
                </div>
             </div>
        </div>
        <hr>
        <div class="banner">
            <div class="banner_image">
                <img src="/images/Samsung-S8-banner.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="productosEnPromocion">
            <div class="title">
                 <h2>Productos en promocion</h2>
            </div>
            <div class="container_cards">
                <% for(product of products) { %> 
                    <% if(product.discount > 0) { %> 
                    <div class="cards prod<%= product.id %>">
                        <i class="fas fa-cart-plus" data-id="<%= product.id %>"></i>
                        <a href="/products/<%= product.category_id %>/<%= product.id %>">
                            <div class="image">
                                <img class="item_image" src="/images/<%= product.image %>" alt="<%= product.name %>">
                            </div>
                            <div class="content">
                                <div class="name">
                                    <p class="item_name"><%= product.name %></p>
                                </div>
                                <div class="price">
                                    <p class="item_price">$ <%= product.price %><span><%= product.discount %>% OFF</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %> 
            <% } %> 
            </div>
        </div>
        <hr>
    </div>
</section>