<section>
    <div class="container">
        <div id="slider-wrapper">
            <div id="slider">
            <a href="URL_ENLACE1"><img src="/images/img1.webp" /><p><%= promotions[1].description %></p></a>
            <a href="URL_ENLACE2"><img src="/images/img2.jpg" /><p><%= promotions[0].description %></p></a>
            <a href="URL_ENLACE3"><img src="/images/img3.png" /><p>TEXTO3</p></a>
            </div>
            <a href="javascript:void();" class="mas">&rsaquo;</a>
            <a href="javascript:void();" class="menos">&lsaquo;</a>
        </div>

        <hr>
        <div class="productosMasVistos">
            <div class="title">
                 <h2>Productos mas vistos</h2>
            </div>
            <div class="container_cards">
                <% for(product of masVisitados) { %> 
                    <div class="cards prod<%= product.id %>">
                        <i class="fas fa-cart-plus" data-id="<%= product.id %>"></i>
                        <a href="/products/<%= product.category_id %>/<%= product.id %>">
                            <div class="image">
                                <img class="item_image" src="/images/<%= product.image %>" alt="<%= product.name %>">
                            </div>
                            <div class="content">
                                <div class="name">
                                    <p class="item_name"><%= product.name %></p>
                                </div>
                                <div class="price">
                                    <p class="item_price">$ <%= product.price %><span><%= product.discount %>% OFF</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
             <% } %>
             </div>
        </div>
        <hr>
        <div class="banner">
            <div class="banner_image">
                <img src="/images/Samsung-S8-banner.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="productosEnPromocion">
            <div class="title">
                 <h2>Productos en promocion</h2>
            </div>
            <div class="container_cards">
                <% for(product of products) { %> 
                    <% if(product.discount > 0) { %> 
                    <div class="cards prod<%= product.id %>">
                        <i class="fas fa-cart-plus" data-id="<%= product.id %>"></i>
                        <a href="/products/<%= product.category_id %>/<%= product.id %>">
                            <div class="image">
                                <img class="item_image" src="/images/<%= product.image %>" alt="<%= product.name %>">
                            </div>
                            <div class="content">
                                <div class="name">
                                    <p class="item_name"><%= product.name %></p>
                                </div>
                                <div class="price">
                                    <p class="item_price">$ <%= product.price %><span><%= product.discount %>% OFF</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %> 
            <% } %> 
            </div>
        </div>
        <hr>
    </div>
</section>